.price {
	color: red;
	font-style: italic;
	font-size: 2em;
	text-shadow: 0 0 20px rgba(255,0,0,0.4), 0 0 20px rgba(255,0,0,0.4);
	padding-left: 110px;
	margin-bottom: 0px;
}


th {
	text-shadow: 1.2px 1.2px 5px  black, -1.2px -1.2px 5px  black, 1.2px -1.2px 5px  black, -1.2px 1.2px 5px  black;
	font-family: 'Verdana', cursive;
	color: white;
	font-size: 0.9em;
	text-align: center;
	padding: 2px 1px;
}

#spimg {
	padding-left: 40px;
}

#reximg {
	padding-left: 30px;
}

#mosimg {
	
	padding-left: 35px;
}

#rexfrag {
	padding-right: 20px;
}

#mosskull{
	padding-right: 15px;
}

p {
	text-align: center;
}

#sp {
	padding-left: 15px;
	padding-right: 15px;
}

/*to make the description line height equal to the other ones. 
as well as space it away from the side of the body*/
#mp {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 35px;
}